.btn{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 10rem;
        display: inline-block;
        padding: 1.5rem 4rem;
        font-size: $default-font-size;

        cursor: pointer;
        border: none;
    }
      
    &--animated {
        animation: moveinBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }

    &--white{
        background-color: $color-white;
        color: $color-grey-dark;
    }
    &--pink{
        background-color: $color-primary;
        color: $color-white;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black, .2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
}
.btn-text{
    &,
    &:link,
    &:visited{
        display: inline-block;
        text-transform: uppercase;
        padding: .3rem;
        color:$color-primary;
        font-size: $default-font-size;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
    }
    &:hover{
        transform:translateY(-.2rem);
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0 1rem 1rem rgba($color-black,0.2);
    }
    &:active{
        transform:translateY(0rem);
        box-shadow: 0 5rem 3rem rgba($color-black,0.2);
    }
}