.composition{
    position: relative;
    &__photo{
        width:55%;
        border-radius: 3px;
        box-shadow: 0 2rem 4rem rgba($color-black,.4);
        transition: all .2s;
        outline-offset: 2rem;
        position: absolute;
        z-index: 10;
        @include respond(tab-port){
            position: relative;
            float: left;
            width: 33.33333%;
        }
        &--p1{
            left:0;
            top:-2rem;
            @include respond(tab-port){
                top:0;
                transform: scale(1.2);
            }
        }
        &--p2{
            right: 0;
            top:2rem;
            @include respond(tab-port){
                top:-2rem;
                z-index: 100;
                transform: scale(1.3);
            }
        }
        &--p3{
            left: 20%;
            top:10rem;
            @include respond(tab-port){
               left:0;
               top:1rem;
               transform: scale(1.1);
            }
        }

        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black,.5);
            z-index: 20;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.95);
    }
}